.movieDetails__container{
    width: 100%;
    height: 100%;
    color: #333;

}
.movieDetails__content{
    margin-left: 13%;
    padding-top: 1.3%;
    padding-right: 3%;
    padding-left: 3%;
}
.movieDetails__trailer{
    width: 100%;
    height: 27rem;
    object-fit:cover;
    object-position: 0 35%;
    border-radius: 2rem;
    overflow: hidden;
}

.movieDetails__clip{
    width: 100%;
    height: 27rem;
    object-fit:cover;
    object-position: 0 35%;
}

.movieDetails__mainContent{
    color: #333;
    padding: 2em 3em;
   
   
}

.mevieDetails__tepDetails{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 80%;

}

.movieDetails__common{
    margin-right: 0.8em;
    font-weight: 700;
    font-size: 1.2em;
}

.movieDetails__dot{
    font-size: 1.3em;
    line-height: 0em;
}

.movieDetails__genre{
    color: rgb(219, 62, 62);
    font-weight: 700;
    font-size: 1em;
}

.mevieDetails__moreDetails{
    display: flex;
    padding-top: 2rem;
}

.moreDetails__right{
    font-size: 1.07em;
    text-align: left;
    font-weight: 700;
    color: #4e4343;
 
}
.moreDetails__left{
    min-width: 34%;
    /* min-height: 0%; */

}
.producers{
    margin-top: 2em;
    max-width: fit-content;
    white-space: nowrap;
    
}

.producers span{
    color: rgb(219, 62, 62);
}

.rated__cantainer{
    margin-top: 2em;
    border: 2px solid #dcdada;
    display: flex;
    border-radius: 0.6em;
}

.top__Rated{
    background-color: rgb(219, 62, 62);
    padding: 0.7em 1.1em;
    color:white;
    border-radius: 0.5em;
}
.awards__nominations{
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.show__times{
    background-color: rgb(219, 62, 62);
    padding: 3% 33%;
    color:white;
    border-radius: 0.5em;
    font-size: 1.26em;
    font-weight: 700;
    white-space:nowrap;
    text-align: center;
    margin-bottom: 0.9em;
}

.more__watch{
    background-color: rgb(251, 228, 228);
    padding: 2.7% 33%;
    color: rgb(97, 83, 83);
    border-radius: 0.5em;
    font-size: 1.26em;
    font-weight: 700;
    white-space:nowrap;
    text-align: center;
    margin-bottom: 0.9em;
    border: 2px solid  rgb(199, 109, 109);
}
.movie__poster_container{
    min-width: 33%;
    display: flex;
    
    justify-content: space-between;
   

}

.movie__poster_image{
    width:10.2em;
}
.more__content{
    display: flex;

    border-radius: 0.5em;
    overflow: hidden;
    flex-direction: column;
}
.best__movies{
    background-color: rgba(0, 0, 0, 0.633);
    margin-top: -10%;
    color: rgb(224, 224, 224);
    height: 3em;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}