
.sidebar {
  width: 14%;
  height: 95%;
  background-color: #fff;
  border: #333 1px solid;
  border-top-right-radius: 4.94rem ;
  border-bottom-right-radius: 4.94rem ;
  color: #333;  
  position: fixed;
  left: -100%; 
  top: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;
  transition: left 0.3s ease; 
  padding-top: 3rem;
  
}


.sidebar.active {
  left: 0; 
}

.sidebar__header__icon{
  
}
  

  .logo {
    text-align: center;
  }

  .menu {
    /* flex-grow: 1; */
    padding-top: 6em;
    font-weight: 700;
    font-size: 1.07em;
    color: rgb(101, 97, 97);
  }
  
  .menu ul {
    list-style: none;
    padding:  0;
  }
  
  .menu li {

    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 2em;
    cursor: pointer;
  }

  .menu li span{
    margin-right: 1em;
  }
  
  .menu li:hover {
    background-color: #fdf0f0;
    transition: background-color 0.3s ease;
    color: rgb(227, 16, 16);
    border-right:5px solid rgb(227, 16, 16);
  }

  .movies__tab{
    background-color: #fdf0f0;
    transition: background-color 0.3s ease;
    color: rgb(227, 16, 16);
    border-right:5px solid rgb(227, 16, 16);

  }

  .movie__quizes{
    background-color: rgb(251, 228, 228);
    border: 2px solid  rgb(199, 109, 109);
    margin: 1.5em 1.9em;
    min-height: 12.5em;
    border-radius: 1.7em;
    padding: 2.5em 1em;
    padding-bottom: 0em;
    font-weight: 700;
    font-size: 10;
    text-align: left;
    line-height: 1.6em;
    color: rgb(76, 67, 67);
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .playing__now{
    padding-top: 1em;
    font-size: 13px;
    line-height: 1.2em;
  }

  .start__playing{
    background-color: rgb(246, 184, 184);
    color: rgb(173, 30, 30);
    padding: 0.4em 1em;
    width: fit-content;
    font-size: 13px;
    border-radius: 2em;
    margin-top:1em ;
    text-align: center;
  }