.movie__list {
    padding: 0 3rem 3rem 3rem;
}

.list__title {
font-size: 1.75rem;
margin:  2.5rem;
}

.list__cards {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1rem;  */
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next row */
    justify-content: space-between;
  
}
.flex-item {
    margin: 1rem; /* Add spacing between items */
    box-sizing: border-box; /* Ensure padding and border don't increase width */
    background-color: #f0f0f0; /* Just for demonstration */
    text-align: center; /* Center content horizontally */
   
  }