.movie__list {
    /* padding: 0 3rem 3rem 3rem; */
}

.list__title {
font-size: 2.2rem;
margin:  5.5em;
margin-bottom: 3%;
text-align: left;
padding-left: 0%;
padding-bottom: 0%;
margin-left: 0.7%;
}

.list__cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}
.flex-item {
    /* margin: 1rem;  */
    box-sizing: border-box; 
    background-color: #f0f0f0; 
    text-align: center;
   
  }


  

  @media screen and (max-width: 767px) {
    
    .list__title {
        font-size: 0.5rem;
        margin:  1.9rem;
        margin-bottom: 0;
        }
        
    
  }