.intro {
    background-image: url('https://res.cloudinary.com/dcntmhgwf/image/upload/v1695246765/Zuri-HNG/hi-tech-fotoapparat-obektiv-temnii-chernii-154602_1_mmh6ej.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.intro h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.intro p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6b6b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #e74c3c;
}



@media screen and (max-width: 767px) {




    
}