body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #464545, black);
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100vw;
    color: #fff;
    overflow-y: hidden;
    overscroll-behavior:unset;
    
}

.hero-section{
    display: flex;
    justify-content: space-between;
    
}

.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
   
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.1);
    text-align: left;
}
.main-content{
    padding-top: 17rem;
    padding-left: 8rem ;

    
}
img {
    height: 100vh;
    padding-right: 8rem ;
}

a {
    display: block;
    color: #007bff;
    text-decoration: none;
}
h1 {
    margin: 0%;
    font-size:7rem;
    font-weight: 600;
}
.currentDayOfTheWeek{
    font-size: small;
    width:fit-content ;
    border-radius: 25px;
    padding: 1.1em 3.1em;
    background-color: #f43232;
    box-shadow: 0em 0em 3.5em 0em #803030 inset;
    display: inline;
}

.emoji{
    width: 3em;
    object-fit: contain;
    height: fit-content;
    display: inline;
    padding: 0;
}
.inner-shadow-div {
    width: 29rem; 
    height: 5rem;
    background-color: #fff;
    border-radius: 3.5em; 
    box-shadow: inset 0 0 1.5em rgba(0, 0, 0, 0.5); 
    border: 0.3em solid #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em; 
}
.day-label{
    color: #a9a9a9;
    padding-right: 1em;
}

a{
    color: white !important;
    display: flex;
}

.git{
    height: fit-content;
    margin: 0;
    padding: 0.2em 2em;
    border-radius: 1.6em;
    box-shadow: inset 0em 0em 1em #333;
    background-color: white;
}
.git:hover{
    padding: 0.18em 1.8em;
}

@media (max-width: 767px) { 
    body {
        background: black; 
        background-repeat: no-repeat;
    }
}
